*{
box-sizing: border-box;
}

/* for admin page*/
.table1{
border-collapse: collapse;
width: 80%;
margin-left:auto;
margin-right:auto;
margin-top:30px;
}

th, td {
  text-align: left;
  padding: 8px;
  font-size:20px;
  background
}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
  background-color: black;
  color: white;
}

.th8{
padding-left:40px;

}

.add{
margin-left:1300px;
margin-top:1px;
}


.topic{
text-align:center;
color: #00CCCC;
}

.btn1{
 margin-top:0px;
  font-weight:bold;
  width:100px;
  height:30px;
  color: black;
  border:none;
  background-image: -webkit-linear-gradient(30deg, #c266d3 50%, transparent 50%);
  background-image: linear-gradient(30deg, #c266d3 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.btn1:hover{
 background-position: 100%;
  color: #c266d3;
}
.btn2{
font-weight:bold;
width:100px;
height:30px;
background-color:#1bbbe4;
margin-left:20px;
border:none;
}

.btn3{
font-weight:bold;
width:100px;
height:30px;
margin-left:30px;
background:#f21a3e;
border:none;
}

.image1{
float:left;
width:120px;
height:50px;
}

/* for new challanform **/
.img2 img{
float:left;
width:120px;
height:50px;
margin-top:-230px;
}


.contain{
height:800px;
width:1200px;
}
.contain form{
margin-top:500px;
margin-left:670px;
}
























/* From here this is the css for login page */

.admin{
 background-color:	Aquamarine;
text-align:center;
width:40%;


}
.main{
text-align:center;
width:40%;
height:200%;
border: 15px;
border-color: #FFDAB9;
border-style: solid;
background-color:Aquamarine;
}

/*
.both{

border: 10px;
border-color: #000000;
border-style: solid;

width:80%;
text-align:center;
height:50%;

}
*/