*{
box-sizing: border-box;
}

.table1{
border-collapse: collapse;
width: 80%;
margin-left:auto;
margin-right:auto;
margin-top:30px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}

.add{
margin-left:1300px;
margin-top:1px;
}

button{
width:100px;
height:32px;
position: fixed;
transition: all 0.2s ease-in 0s;
z-index: 9999;
cursor: pointer;

}

.topic{
text-align:center;

}











/* From here this is the css for login page */

.admin{
 background-color:	Aquamarine;
text-align:center;
width:40%;


}
.main{
text-align:center;
width:40%;
height:200%;
border: 15px;
border-color: #FFDAB9;
border-style: solid;
background-color:Aquamarine;
}

/*
.both{

border: 10px;
border-color: #000000;
border-style: solid;

width:80%;
text-align:center;
height:50%;

}
*/