*{
box-sizing: border-box;
}

.table1{
border-collapse: collapse;
width: 80%;
margin-left:auto;
margin-right:auto;
margin-top:30px;
}

th, td {
  text-align: left;
  padding: 8px;
  font-size:20px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
  background-color: black;
  color: white;
}

.th8{
padding-left:40px;

}

.add{
margin-left:1300px;
margin-top:1px;
}

.btn1{
  height:30px;
  width:90px;
  color: #fff;
  border: none;
  background-image: -webkit-linear-gradient(30deg, #c266d3 50%, transparent 50%);
  background-image: linear-gradient(30deg, #c266d3 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.btn1:hover{
background-position: 100%;
  color: black;
}

.topic{
text-align:center;

}

.btn2{
height:30px;
width:90px;
margin-left:30px;
background-color:#2f9ae7;
border:none;
color:white;


}


.btn3{
height:30px;
width:90px;
margin-left:29px;
background-color:#bb2e30;
border:none;
color:white;
}



