<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>E-Challan System</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="main_admin">
    <h1 class="challanlist">Employees List</h1>
    <a th:href="@{/newChallanForm}"> <button>Add Employee</button> </a>
    <table class="table1">
        <thead>
        <tr>
            <th>name</th>
            <th>place</th>
            <th>license_number</th>
            <th>vehicle_number</th>
            <th>vehicle_type</th>
            <th>created_by</th>
            <th>challan_type</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="challan_save : ${challanData}">
            <td th:text="${challan_save.name}"></td>
            <td th:text="${challan_save.place}"></td>
            <td th:text="${challan_save.license_number}"></td>
            <td th:text="${challan_save.vehicle_number}"></td>
            <td th:text="${challan_save.vehicle_type}"></td>
            <td th:text="${challan_save.created_by}"></td>
            <td th:text="${challan_save.challan_type}"></td>
            <td> <a th:href="@{/formUpdate/{id}(id=${challan_save.id})}" >Update</a>
                <a th:href="@{/deleteData/{id}(id=${challan_save.id})}" >Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>