<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Admin Login Portal</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>

<div class="main">
    <img src="../static/image/log.png"  th:src="@{image/log.png}"/>
        <h1>E-Challan Login Form</h1>

        <form method="post"><!------form created--->
           <h2 class="first"> <span class="far "></span> <input type="text" name="userName"  placeholder="USER NAME"></h2>

           <h2 class="second"> <span class="fas "></span> <input type="password" name="password"  placeholder="PASSWORD"></h2>

           <h2><button class="but">Login</button></h2>


        </form>



</div>
</body>
</html>


