<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Admin Login Portal</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>

<div class="main">
    <img src="../static/image/log.png"  th:src="@{image/log.png}"/>
        <h1>E-Challan Login Form</h1>

    <form action="#" th:action="@{/userlogin}" th:object="${user}">
           <h4 class="first"> <span class="far "></span> <input type="text" name="userName"  placeholder="Username"></h4>

           <h4 class="second"> <span class="fas "></span> <input type="password" name="password" placeholder="Password"></h4>

           <h2><button class="but">Login</button></h2>

        </form>



</div>
</body>
</html>


