<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="main">
    <img src="../static/image/log.png"  th:src="@{image/log.png}"/>
        <h1>E-Challan Login Form</h1>

        <form method="post"><!------form created--->
           <h2 class="first"> <span class="far "></span> <input type="text" name="userName"  placeholder="USER NAME"></h2>

           <h2 class="second"> <span class="fas "></span> <input type="password" name="password"  placeholder="PASSWORD"></h2>

           <h2><button class="but">Login</button></h2>


        </form>



</div>

<h1> E_Challan_System</h1>
<h2> hello ,,,,,,,,,,</h2>
<h3> heeee</h3>
<h1>Sudip Chaul</h1>

<div class="main">
    <img src="../static/image/log.png"  th:src="@{image/log.png}"/>
        <h1>E-Challan Login Form</h1>

        <form method="post"><!------form created--->
           <h2 class="first"> <span class="far "></span> <input type="text" name="userName"  placeholder="USER NAME"></h2>

           <h2 class="second"> <span class="fas "></span> <input type="password" name="password"  placeholder="PASSWORD"></h2>

           <h2><button class="but">Login</button></h2>


        </form>



</div>
</body>
</html>