<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>E-Challan System</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="img2">
    <img src="../static/image/logo.png"  th:src="@{image/logo.png}"/>
</div>
<div class="img3">
    <img src="../static/image/traffic.jpeg"  th:src="@{image/traffic.jpeg}"/>
</div>

<div class="contain">

    <form action="#" th:action="@{/saveEChallanData}" th:object="${challan_save}" method="POST">
        <legend >Name:</legend> <input type="text" th:field="*{name}" placeholder="Enter the name">
        <legend >Place:</legend><input type="text" th:field="*{place}" placeholder="Enter the place">
        <legend>License Number:</legend> <input type="text" th:field="*{license_number}" placeholder="Enter the license number">
        <legend>Vehicle Number:</legend> <input type="text" th:field="*{vehicle_number}" placeholder="Enter the Vehicle number">
        <legend >Vehicle type: </legend> <input type="text" th:field="*{vehicle_type}" placeholder="Enter the vehicle type"  >
        <legend >Created by: </legend><input type="text" th:field="*{created_by}" placeholder="Name who created challan" >
        <legend >Challan type:</legend> <input type="text" th:field="*{challan_type}" placeholder="Challan type" >
        <br>
        <br>
        <button type="submit" class="btn5"> Save Data</button>
        <br>
        <br>
        <a th:href="@{/}"> Back to Employee List</a>
    </form>
</div>



</body>
</html>